<!doctype html>
<html class="no-js">
    <head>
        <title>AreYouOk</title>
        {% include: 'commom/headBundle.tpl' %}
    </head>
    <body>
        <div id="wrapper">
            <div class="header">{% include: 'modules/header/view.tpl' %}</div>

            <div class="getname">{% include: 'modules/getname/view.tpl' %}</div>

            <div class="questions">{% include: 'modules/question/view.tpl' %}</div>

            <div class="footer">{% include: 'modules/footer/view.tpl' %}</div>
            
           
           
        </div>
        {% include: 'commom/scriptBundle.tpl' %}
    </body>
</html>