.table{
	display: table;
	height: 100%;
	margin:0px;
	.cell{
		display: table-cell;
		vertical-align: middle;
		height: 100%;
	}
}
#wrapper{
	padding:0 50px 600px;
}
.container{
	width: auto;
	max-width: 1000px;
}
#question-wrapper{
	display: none;
}